{%  extends "basic_app/base.html" %}
{% block body_block %}
    <div class="jumbotron">
        <h1>Please Login</h1>
        <form action="{% url 'basic_app:user_login' %}" method='POST'>
            {% csrf_token %}
            {{ view.as_p }}
            <label for="username">Username:&nbsp;</label>
            <input type="text" name="username" placeholder="Enter Username">
            <label for="password">Password:&nbsp;</label>
            <input type="password" name="password">
            <div align="right">
                <input class="btn btn-primary" type="submit" name="login" value="Login">&nbsp;
                <input class="btn btn-default" type="submit" name="cancel" value="Cancel">
            </div>
        </form>
        <p id="error_str">{{ error|title }}</p>
    </div>
{% endblock %}